<!DOCTYPE html>
<html lang="zh-CN">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <title>CQUPT Cloud</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/control_panel.css') }}">
   <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
   <link rel="shortcut icon" href=" {{ url_for('static', filename='images/title.ico') }}">
   <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
    }
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>
<body>
    <!-- 导航条 -->
    <div class="container-fluid" style="height: 80px;">
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark shadow">
            <a class="navbar-brand" id="homepage" href="#">
               <img src="{{ url_for('static', filename='images/logo.jpg') }}" width="50" height="50" alt="">
             </a>
            <a class="navbar-brand" href="#">重邮云</a>
            <button class="navbar-toggler" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#navbarNavAltMarkup" 
                    aria-controls="navbarNavAltMarkup" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation"
                    style="z-index: 999;" >
            <span class="navbar-toggler-icon" style="z-index: 999;"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="z-index: 999;">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item" style="width: 80px; text-align: center;">
                     <a id="nav1" class="nav-link" href="#" onclick="changeURL(1)">主页</a>
                  </li>
                  <li class="nav-item" style="width: 80px; text-align: center;">
                     <a id="nav2" class="nav-link" href="#" onclick="changeURL(2)">查询</a>
                  </li>
                  <li class="nav-item active" style="width: 80px; text-align: center;">
                     <a id="nav3" class="nav-link" href="#" onclick="changeURL(3)">管理</a>
                  </li>
               </ul>   
               <ul class="form-inline  mr-autonavbar-nav my-2 my-lg-0">
                  <li class="nav-item" style="list-style: none;">
                     <span class="nav-text" style="color: aliceblue;">欢迎{{ id }}&nbsp&nbsp&nbsp</span>
                  </li>
                  <li class="nav-item" style="list-style: none;">
                     <button id='logout' type="button" class="btn btn-primary my-2 my-sm-0">注销</button>
                  </li>             
               </ul>

            </div>
         </nav>
    </div>

    <!-- username -->
    <div hidden="hidden" id="username">{{id}}</div>

    <div hidden="hidden" id="gateways_add">{{gateways|tojson}}</div>

    <!-- 侧边导航条 -->
    <div class="row">
        <nav class="col-sm-1 col-md-2 col-lg-2 d-none d-sm-block bg-light sidebar" style="position: fixed;">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a id='1' class="nav-link active" href="#manage" onclick="setActive(1)">
                        <span data-feather="home"></span>
                        设备管理 <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id='2' class="nav-link" href="#addDevice" onclick="setActive(2)">
                        <span data-feather="file"></span>
                        添加节点
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id='3' class="nav-link" href="#addGateway" onclick="setActive(3)">
                        <span data-feather="file"></span>
                        添加网关
                        </a>
                    </li>

                    <li class="nav-item">
                        <a id="4" class="nav-link" href="#rectify" onclick="setActive(4)">
                        <span data-feather="shopping-cart"></span>
                        设备信息修改
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    
    <!-- 主要展示区域 -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <!-- 设备管理 -->
        <div class="row" id="manage">
            <div class=" col-sm-5 col-md-5 col-lg-7">
                <div class=" justify-content-between  align-items-center pt-3 pb-2 mb-3 border-bottom col-lg-10">
                    <div class="row">
                        <h1 class="h2">设备管理</h1>
                    </div>
                </div>

                <div  class="col-lg-10" style="height: 500px;">
                    {% if gateways %}
                    <div class="row">
                        <div class=" justify-content-between  align-items-center mb-2 border-bottom col-lg-4">
                            <p>网关</p>
                        </div>
                        <div class=" justify-content-between  align-items-center mb-2 border-bottom col-lg-7 offset-lg-1">
                            <p>设备</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <ul class="list-group" id="gateways">
                            {% for k,v in gateways.items() %}
                                <li class="list-group-item">{{ k }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="col-lg-7 offset-lg-1", id="nodes">
                        </div>
                    </div>
                    {% else %}
                        <div class="row">
                            <h1>没有数据</h1>
                        </div>
                    {% endif %}

                </div>
            </div>

            <div class="row col-sm-4 col-md-4 col-lg-4 pl-3">
                <div class=" justify-content-between  align-items-center pt-3 pb-2 mb-3 border-bottom col-lg-10">
                    <div class="row"> 
                        <h1 class="h2">操作</h1>         
                    </div>
                </div>

                <!--操作列表组-->
                <div class="col-lg-12 pl-2" style="height: 500px;">
                    <div class="row pl-2">
                        <div class="form-check col-lg-4 ">
                            <input class="form-check-input" name="order" type="radio" value="" id="start">
                            <label class="form-check-label" for="start">
                                启动
                            </label>
                        </div>
                    </div>

                    <div class="row pt-3 pl-2">
                        <div class="form-check ">
                            <input class="form-check-input" name="order" type="radio" value="" id="stop">
                            <label class="form-check-label" for="stop">
                                关闭
                            </label>
                        </div>
                    </div>

                    <div class="row pt-3 pl-2">
                        <div class="form-check ">
                            <input class="form-check-input" name="order" type="radio" value="" id="del">
                            <label class="form-check-label" for="del">
                                删除设备
                            </label>
                        </div>
                    </div>

                    <div class="row pt-3 pl-2">
                        <div class="form-check ">
                            <input class="form-check-input" name="order" type="radio" value="" id="upload">
                            <label class="form-check-label" for="upload">
                                立即上传数据
                            </label>
                        </div>
                    </div>

                    <div class="pt-3"> 
                        <button type="button" class="btn btn-outline-danger" onclick="control()">确认</button>
                    </div>

                </div>
            </div>
        </div>

        <!--添加设备-->
        <div id="addDevice"  class="row">
            <div class=" justify-content-between  align-items-center pt-3 pb-2 mb-3 border-bottom col-lg-10">
                <div class="row">
                    <h1 class="h2">添加设备</h1>
                </div>
            </div>

            <div  class="col-lg-6 col-md-12 col-sm-12">
                <p>添加到网关：</p>
                {% if gateways %}
                    {% for key,val in gateways.items() %}
                        <div class="row">
                            <div class="col-lg-4 col-sm-3 col-md-3 col-lg-4">
                                <p > {{ key }} </p>
                            </div>
                            <div class="form-check  col-sm-3 col-md-3 col-lg-4">
                                <input class="form-check-input" name="control" type="radio" value="" id="{{ key }}">
                                <label class="form-check-label" for="{{ key }}">
                                选择
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="row">
                        <p style="color:red">&emsp;没有网关，请先添加网关</p>
                    </div>
                {% endif %}
            </div>

            <div  class="container-fluid" style="height: 500px;" >
                <div class="row">
                    <div class="input-group flex-nowrap col-lg-6 col-md-12 col-sm-12">
                        <div class="input-group-prepend">
                        <span class="input-group-text"> 设备名称 </span>
                        </div>
                        <input id="device_name" type="text" class="form-control" placeholder="3-20位，以字母开头，只能有字母、数字和下划线" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                </div>
                <p></p>

                <div class="row">
                    <div class="input-group flex-nowrap col-lg-6 col-md-12 col-sm-12">
                        <div class="input-group-prepend">
                        <span class="input-group-text">设备标志</span>
                        </div>
                        <input id="device_id" type="text" class="form-control" placeholder="推荐使用MAC地址" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>

                    <div>
                        <button type="button" class="btn btn-primary" onclick="add_device()">确认</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- 添加网关 -->
        <div id="addGateway" class="row">
            <div class="justify-content-between  align-items-center pt-3 pb-2 mb-3 border-bottom col-lg-10">
                <div class="row">
                    <h1 class="h2 ">添加网关</h1>
                </div>
            </div>

            <div class="container-fluid" style="height: 200px;" >
                <div class="row">
                    <div class="input-group flex-nowrap col-lg-6 col-md-12 col-sm-12">
                        <div class="input-group-prepend">
                        <span class="input-group-text"> 网关名称 </span>
                        </div>
                        <input id="gateway_name" type="text" class="form-control" placeholder="3-20位，以字母开头，只能有字母、数字和下划线" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                </div>

                <p></p>
                <div class="row">
                    <div class="input-group flex-nowrap col-lg-6 col-md-12 col-sm-12">
                        <div class="input-group-prepend">
                        <span class="input-group-text">网关标志</span>
                        </div>
                        <input id="gateway_id" type="text" class="form-control" placeholder="推荐使用MAC地址" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>

                    <div>
                        <button type="button" class="btn btn-primary" onclick="add_gateway()">确认 </button>
                    </div>
                </div>
            </div>

        </div>

        <!-- 修改设备信息 -->
        <div id="rectify_m" class="row">
            <div class="justify-content-between  align-items-center pt-3 pb-2 mb-3 border-bottom col-lg-10">
                <div class="row">
                    <h1 class="h2 ">修改设备信息</h1>
                </div>
            </div>

            <div  id="rectify" class="container-fluid" style="height: 500px;" >
                <div class="col-lg-6 col-md-12 col-sm-12">
                    {% if tables %}
                        {% for item in tables %}
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3">
                                    <p > {{ item }} </p>
                                </div>
                                <div class="form-check col-lg-4 col-md-3 col-sm-3">
                                    <input class="form-check-input" name="device" type="radio" value="" id="{{ item }}_rectify">
                                    <label class="form-check-label" for="{{ item }}_rectify">
                                    选择
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="row">
                            <h1>此功能暂未实现</h1>
                        </div>
                    {% endif %}
                </div>
                <p></p>
                <!-- <div class="row">
                    <div class="input-group flex-nowrap col-lg-6 col-md-12 col-sm-12">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon-wrapping">设备ip地址</span>
                        </div>
                        <input id="device_name_rectify" type="text" class="form-control" placeholder="请输入新的ip地址" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" onclick="rectify_device()">确认 </button>
                    </div>
                </div> -->
            </div>
        </div>
    </main>

    <!-- 弹窗 -->
    <div class="modal fade" id="my_modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">提示</h5>
                </div>
                <div class="modal-body" id="modal_text">
                    垂直居中的模态框
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="my_modal_del">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: red;">警告</h5>
                </div>
                <div class="modal-body" id="modal_text_del" style="color: red;">
                    垂直居中的模态框
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" id="confirm_del">确认</button>
                    <button class="btn btn-primary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

   <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>

   <script src="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
   <script src="{{ url_for('static', filename='js/control_panel.js') }}"></script>
   <!-- <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script> -->
</body>

