<!DOCTYPE html>
<html lang="zh-CN">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <title>CQUPT Cloud</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
   <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
   <link rel="shortcut icon" href=" {{ url_for('static', filename='images/title.ico') }}">
   <style>
      .beian {
         position: relative;
         bottom: 0;
         width: 100%;
         height: 30px;
         text-align: center;
         }
   </style>
</head>
<body style="background-color: bisque;">
   <div class="container-fluid" style="height: 80px;">
      <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark">
         <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" width="50" height="50" alt="">
          </a>
         <a class="navbar-brand" href="#">重邮云</a>
         <button class="navbar-toggler" 
                 type="button" 
                 data-toggle="collapse" 
                 data-target="#navbarNavAltMarkup" 
                 aria-controls="navbarNavAltMarkup" 
                 aria-expanded="false" 
                 aria-label="Toggle navigation"
                 style="z-index: 999;" >
         <span class="navbar-toggler-icon" style="z-index: 999;"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="z-index: 999;">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active" style="width: 80px; text-align: center;">
                  <a class="nav-link" href="#">主页</a>
               </li>
               <li class="nav-item " style="width: 80px; text-align: center;">
                  <a id="login_3" class="nav-link login" href="#">查询</a>
               </li>
               <li class="nav-item " style="width: 80px; text-align: center;">
                  <a id="login_4" class="nav-link login" href="#">管理</a>
               </li>
            </ul>

            <ul class="form-inline  mr-autonavbar-nav my-2 my-lg-0">
               <li class="nav-item" style="list-style: none;">
                  <span class="nav-text" style="color: aliceblue;">当前未登录&nbsp&nbsp&nbsp</span>
               </li>
               <li class="nav-item" style="list-style: none;">
                  <a id="login_5" href="#"> <button type="button" class="btn btn-primary my-2 my-sm-0">登录</button> </a>
               </li>             
            </ul>

         </div>
      </nav>
   </div>

   <!-- 巨幕 -->
   <div class="container-fluid" style="z-index: 1;">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="left: auto;right: 0;">
         <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
         </ol>
         <div class="carousel-inner">
            <div class="carousel-item active">
               <a href="https://baike.baidu.com/item/%E7%89%A9%E8%81%94%E7%BD%91" target="_blank">
                  <img src="{{ url_for('static', filename='images/iot.png') }}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                     <h2 style="color: aqua;">了解物联网</h2>
                     <p style="color: yellow;">物联网是一个基于互联网、传统电信网等的信息承载体<br>它让所有能够被独立寻址的普通物理对象形成互联互通的网络</p>
                   </div>
               </a>
            </div>
            <div class="carousel-item">
               <a id="login_1" href="#">
                  <img src="{{ url_for('static', filename='images/datavisiable.png') }}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                     <h2 style="color: aqua;">节点数据查询</h2>
                     <p style="color: yellow;">本部分将节点数据以<br>柱状图、折线图、饼状图三种形式呈现，方便您的查阅</p>
                   </div>
               </a>
            </div>
            <div class="carousel-item">
               <a id="login_2" href="#">
                  <img src="{{ url_for('static', filename='images/control.png') }}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                     <h2 style="color: aqua;">设备管理</h2>
                     <p style="color: yellow;">通过本平台管理节点</p>
                   </div>
               </a>
            </div>
         </div>
         <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
         </a>
      </div>
   </div>


   <!-- 图表容器 -->
   <div id="chart" class="container-fluid">
      <div class="row" style="height: 300px;">
         <div id="sheet" class="col-md-4 col-lg-4" style="height: 300px;"></div>
         <div id="line" class="col-md-4 col-lg-4" style="height: 300px;"></div>
         <div id="pie" class="col-md-4 col-lg-4" style="height: 300px;"></div>
      </div>

      <div class="row" style="height: 20px;"></div>

      <div class="row" style="height: 100px;">
         <div class="col-md-2 col-lg-2 offset-md-1 offset-lg-1" style="text-align: center;"> <p> 
            数据表格直观的展示了所有的数据，让你可以直接查看所有数据的值。
            </p> </div>
         <div class="col-md-2 col-lg-2 offset-md-2 offset-lg-2" style="text-align: center; "> <p> 
            折线图展示了一段时间内的数据走势，你可以通过折线图大致推测接下来数据的走势。 
            </p> </div>
         <div class="col-md-2 col-lg-2 offset-md-2 offset-lg-2" style="text-align: center;"> <p> 
            饼状图展示了数据的大致构成，通过饼状图，你可以看出最近的数据分布情况。 
            </p> </div>
      </div>
   </div>
   
   <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
   <!-- <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script> -->

   <script src="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
   <!-- <script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script> -->
   <script crossorigin="anonymous" integrity="sha384-RPqk+IZGGuMAN/gBBbPKRtfXRISl/vFqiT13cXlm2vHZtd+xZ7ugm9sDxXDb2Ylk" src="https://lib.baomitu.com/echarts/4.6.0/echarts.min.js"></script>
   <script src="{{ url_for('static', filename='js/draw.js') }}"></script>
   <script>
      $(document).ready(function(){
            $("a[id^='login']").attr("href", "http://" + window.location.host + "/login/");
            if(window.screen.width<768){
               $("#chart").html("   <div id=\"sheet\" class=\"row\" style=\"height: 300px;\"></div>\
                                    <div id=\"line\" class=\"row\" style=\"height: 300px;\"></div>\
                                    <div id=\"pie\" class=\"row\" style=\"height: 300px;\"></div>")
            }
            drawTable({{ data }}, {{ time }});
            drawLineChart({{ data }});
            drawPieChart({{ pie }});
         })
   </script>

</body>
</html>