<!DOCTYPE html>
<html lang="zh-CN">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <title>登录</title>
   <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
   <link rel="shortcut icon" href=" {{ url_for('static', filename='images/title.ico') }}">
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-6">欢迎使用重邮云</h1>
            <p class="lead">请输入正确的账号密码</p>
        </div>
    </div>
    <div class="row">
        <form id="login" class="col-xl-5 offset-xl-4 col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-10 offset-sm-1" method="POST">
            <div class="form-group row">
              <label class="col-xl-2 col-lg-3 col-md-3 col-sm-2 col-form-label">用户名</label>
              <div class="col-xl-6 col-lg-9 col-md-9 col-sm-10">
                <input id="usr" class="form-control" name="username" placeholder="用户名/邮箱">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-xl-2 col-lg-3 col-md-3 col-sm-2 col-form-label">密码</label>
              <div class="col-xl-6 col-lg-9 col-md-9 col-sm-10">
                <input id="psd" type="password" class="form-control" name="password" placeholder="请输入密码">
              </div>
            </div>
            <button id="sub" class="btn btn-outline-success my-2 my-sm-0 col-xl-6 offset-xl-2 col-lg-9 offset-lg-3 col-md-9 offset-md-3 col-sm-10 offset-sm-2 querybtn btn-block" type="button">登录</button>
            <p></p>
            <div class="row">
              <a id="register" href="#" class="col-md-2 col-lg-3 col-xl-2 offset-md-6 offset-lg-4 offset-xl-4">注册</a>
              <a id="reset" href="#" class="col-md-3 col-lg-5 col-xl-3">忘记密码？</a>
            </div>
        </form>
    </div>  
    <div hidden="hidden">
        <textarea id="pubkey" rows="15" cols="65">
            {{ public_key }}
        </textarea>
    </div>
    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/jsencrypt.min.js') }}"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script>
      $(document).ready(function(){
        $("#register").attr('href', "http://" + window.location.host + "/register/")
      })
    </script>
</body>
</html>