<!DOCTYPE html>
<html lang="zh-CN">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <title>注册</title>
   <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
   <link rel="shortcut icon" href=" {{ url_for('static', filename='images/title.ico') }}">
   <style>
        #pwdStrength {
        height: 14px;
        width: 190px;
        border: 1px solid #ccc;
        padding: 2px;
        
        } 
        .strengthLv1 {
        background: red;
        height: 8px;
        width: 60px;
        }
        
        .strengthLv2 {
        background: orange;
        height: 8px;
        width: 120px;
        }
        
        .strengthLv3 {
        background: green;
        height: 8px;
        width: 180px;
        }
        strong {
        margin-left:90px;
        }
        #pwd1 {
        color:red;
        margin-top:5px;
        margin-bottom:5px;  
        }
   </style>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-6">欢迎使用重邮云</h1>
        </div>
    </div>
    <div class="row">
        <form class="col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-8 offset-md-2", method="POST">
            <div id="email_form" class="form-group row">
                <label class="col-xl-2 col-lg-3 col-md-3 col-sm-2 col-form-label">邮箱</label>
                <div class="col-xl-6 col-lg-5 col-md-6 col-sm-10">
                  <input id="email" type="email" class="form-control" name="mail" placeholder="example@CQUPT.com">
                </div>
                <button id="sub_verify" class="btn btn-outline-success col-xl-4 col-lg-3 col-md-3 querybtn btn-block" type="button">获取验证码</button>
            </div>            
        </form>
        <form class="container col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-8 offset-md-2" method="POST">
            <div id="user_form" class="form-group row">
                <label class="col-xl-2 col-lg-3 col-md-3 col-sm-2 col-form-label">用户名</label>
                <div class="col-xl-10 col-lg-8 col-md-9 col-sm-10">
                    <input id="usr" class="form-control" placeholder="6-20位，字母开头，只能有数字字母下划线">
                </div>
            </div>
            <div id="password_form" class="form-group row">
                <label class="col-xl-2 col-lg-3 col-md-3 col-sm-2 col-form-label">密码</label>
                <div class="col-xl-10 col-lg-8 col-md-9 col-sm-10">
                  <input id="psd" type="password" class="form-control" name="password" placeholder="6-20位，至少包含数字、字母、特殊字符中的两种">
                </div>
            </div>
            <div class="pass-wrap form-group row " style="margin-left: 10px;">
                <div id="pwdStrength" class="offset-xl-2 offset-lg-3 offset-md-3 offset-sm-1 col-form-label" ></div>
            </div>
            <div id="re_password_form" class="form-group row">
                <label class="col-xl-2 col-lg-3 col-md-3 col-sm-2 col-form-label">确认密码</label>
                <div class="col-xl-10 col-lg-8 col-md-9 col-sm-10">
                  <input id="re_psd" type="password" class="form-control" name="password" placeholder="请输入密码">
                </div>
            </div>
            <div id="verify_form" class="form-group row">
                <label class="col-xl-2 col-lg-3 col-md-3 col-sm-2 col-form-label">验证码</label>
                <div class="col-xl-3 col-lg-3 col-md-9 col-sm-10">
                  <input id="verify_code" class="form-control" name="password">
                </div>
            </div>
            <button id="sub_register" class="btn btn-outline-success my-2 my-sm-0 col-xl-6 offset-xl-2 col-lg-9 offset-lg-3 col-md-9 offset-md-3 querybtn btn-block" type="button">注册</button>
        </form>
    </div>  
    <div hidden="hidden">
        <textarea id="pubkey" rows="15" cols="65">
            {{ public_key }}
        </textarea>
    </div>
    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/jsencrypt.min.js') }}"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>
</html>